@import './colors.scss';
@import './header.scss';
@import './rental-home.scss';

html, body {
    height: 100%;
}

.type- {
&apartment {
    color: $apartment-color;
}

&house {
    color: $house-color;
}

&condo {
    color: $condo-color;
}
}

.navbar-dark .navbar-nav {
    .nav-link {
        &:hover{
            color: $main-app-color;  
        }
    }          
}

.btn {
    &.btn-bwm-main {

        border-color: $main-app-color;
        color: $main-app-color;

        &:hover, &:focus, &:active {
            background-color: $background-app-color;
            border-color: $main-app-color;
            color: white;
            box-shadow: none;
        }
    }
}